SSO_URL=http://127.0.0.1:18080/realms/api-ext-dev/protocol/openid-connect/token
SSO_TIMEOUT_MS=1500
CHANNEL_8_KEY=CHANGEME32CHARIV
CHANNEL_8_IV=CHANGEME16CHARIV
CHANNEL_9_KEY=CHANGEME-32-CHARS-LLAVE-CANAL9!!
CHANNEL_9_IV=CHANGEME16CHRIV2